<!DOCTYPE html>
<html>
    <head>
      
            <meta charset="UTF-8">
            <title>Wasserwesen</title>
            <link href='wasser.css' rel='stylesheet'>
       
             <div class="wrapper">
                      <div class="logo">
                        <a href="/home"><img src="log.png" alt="logo"></a>
                      </div>
                      <ul class="nav-area"><!--Quelle(nav-bar):https://www.w3schools.com/howto/howto_js_topnav.asp-->
                    <li><a href="/home">Startseite</a></li>
                    
                    <li class="dropdown"><!--Quelle(Dropdown):https://www.w3schools.com/howto/howto_css_dropdown.asp-->
                      <a href="/home#section1" class="dropbtn">Prodigium-Box</a><!--Quelle(#section1): https://www.w3schools.com/howto/howto_css_smooth_scroll.asp-->
                      <div class="dropdown-content">
                        <a href="/daemonen">Dämonen</a>
                        <a href="/natur">Naturgeister</a>
                        <a href="/Wasserwesen">Wasserwesen</a>
                        <a href="/Flugwesen">Flugwesen</a>
                      </div>
                    </li>
                    <li class="dropdown">
                      <a href="/konto" class="dropbtn">Mein Profil</a>
                      <div class="dropdown-content">
                        <a href="/konto">Konto</a>
                     
                      </div>
                    </li>
                     <li><a href="/home#credits">Credits</a></li> 
                             <% if (isLoggedIn) { %> 
              <form action="/logout" method="POST">
                
                    <button class ="buttonANAB" type="submit">Abmelden</button>
           
            </form>
          <% } else { %>  
           <form action="/login" method="POST">

                
             <button class ="buttonANAB" type="submit">Anmelden</button>
    
     </form>
            
              <% } %>

            </ul>
          </div>
            
    <div class="logo1"><img src="WasserwesenLogo.png"></div>
            <div class="h1"><h1>Wasserwesen</h1></div>
   

        

    </head>


</head>
<body>



  <div class="tab"><!--Quelle(tablinks):https://www.w3schools.com/howto/howto_js_tabs.asp-->
    <button class="tablinks" onclick="openCity(event, 'Aspidochelone')" id="defaultOpen"><h2>Aspidochelone
    </h2></button>
    <button class="tablinks" onclick="openCity(event, 'Camena')"><h2>Camena</h2></button>
    <button class="tablinks" onclick="openCity(event, 'Charybdis')"><h2>Charybdis</h2></button>
    <button class="tablinks" onclick="openCity(event, 'Ekke Mekkepenn')"><h2>Ekke Mekkepenn</h2> </button>
    <button class="tablinks" onclick="openCity(event, 'Each Uisge')"><h2>Each Uisge</h2></button>
    <button class="tablinks" onclick="openCity(event, 'Kappa')" ><h2>Kappa</h2></button>
    <button class="tablinks" onclick="openCity(event, 'Leviathan')" ><h2>Leviathan</h2></button>
    <button class="tablinks" onclick="openCity(event, 'Serpent')"><h2>Serpent</h2> </button>
    <button class="tablinks" onclick="openCity(event, 'Scylla')"><h2>Scylla</h2></button>
</div>
<form><input type="image" src="LogoFavoriten.png" alt="Stern als button" class="star"></form><!--Quelle(Stern):https://wiki.selfhtml.org/wiki/HTML/Formulare/input/button-->

<div id="Aspidochelone" class="tabcontent">
            
              
                    
    <h1><%= ws[0].name %> </h1> <br>
    <img src="Aspidochelone.png"><!--Quelle(Bild): http://www.symbolforschung.ch/files/images/Pare%201573.jpg-->
     <p><%= ws[0].eigen %><br>
        <%= ws[0].ort %> <br>
        <%= ws[0].staerke %><br>
        <%= ws[0].schwaeche %> <br>
        <%= ws[0].tipps %></p><br>


</div>
<div id="Camena" class="tabcontent">
  
  <h1><%= ws[1].name %> </h1> <br>
  <img src="Camena.png"><!--Quelle(Bild): https://photobucket.com/gallery/user/PookieTush/media/bWVkaWFJZDoxNTIxODIxOA==/?ref=-->
  <p><%= ws[1].eigen %><br>
    <%= ws[1].ort %> <br>
    <%= ws[1].staerke %><br>
    <%= ws[1].schwaeche %> <br>
    <%= ws[1].tipps %></p><br>
  </div>

<div id="Charybdis" class="tabcontent">
  
  <h1><%= ws[2].name %> </h1> <br>
  <img src="Charybdis.png"><!--Quelle(Bild):http://bit.ly/2Zmzx2z-->
  <p><%= ws[2].eigen %><br>
    <%= ws[2].ort %> <br>
    <%= ws[2].staerke %><br>
    <%= ws[2].schwaeche %> <br>
    <%= ws[2].tipps %></p><br>
  </div>

<div id="Ekke Mekkepenn" class="tabcontent">
  <h1><%= ws[3].name %> </h1> <br>
  <img src="Ekke Mekkepenn.png"><!--Quelle(Bild):https://upload.wikimedia.org/wikipedia/commons/d/d0/Merman.jpg-->
  <p><%= ws[3].eigen %><br>
    <%= ws[3].ort %> <br>
    <%= ws[3].staerke %><br>
    <%= ws[3].schwaeche %> <br>
    <%= ws[3].tipps %></p><br>
  </div>

<div id="Each Uisge" class="tabcontent">
  
  <h1><%= ws[4].name %> </h1> <br>
  <img src="Each Uisge.png"><!--Quelle(Bild): https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Eachuisge.jpg/220px-Eachuisge.jpg-->
  <p><%= ws[4].eigen %><br>
    <%= ws[4].ort %> <br>
    <%= ws[4].staerke %><br>
    <%= ws[4].schwaeche %> <br>
    <%= ws[4].tipps %></p><br>
  </div>

<div id="Kappa" class="tabcontent">
  
  <h1><%= ws[5].name %> </h1> <br>
  <img src="Kappa.png"><!--Quelle(Bild):https://mythology.net/wp-content/uploads/2018/04/Kappa.jpg-->
  <p><%= ws[5].eigen %><br>
    <%= ws[5].ort %> <br>
    <%= ws[5].staerke %><br>
    <%= ws[5].schwaeche %> <br>
    <%= ws[5].tipps %></p><br>
  </div>

 <div id="Leviathan" class="tabcontent">
   
  <h1><%= ws[6].name %> </h1> <br>
  <img src="Leviathan.png"><!--Quelle(Bild): https://www.livenet.ch/sites/default/files/media/291353-Leviathan-gezeichnet-von-Gustave-Dore-1865.JPG-->
  <p><%= ws[6].eigen %><br>
    <%= ws[6].ort %> <br>
    <%= ws[6].staerke %><br>
    <%= ws[6].schwaeche %> <br>
    <%= ws[6].tipps %></p><br>
  
  </div>

        <div id="Serpent" class="tabcontent">
          
          <h1><%= ws[7].name %> </h1> <br>
          <img src="Serpent.png"><!--Quelle(Bild):https://seahistory.org/wp-content/uploads/Hungary-Beach-sea-serpent.jpg-->
          <p><%= ws[7].eigen %><br>
            <%= ws[7].ort %> <br>
            <%= ws[7].staerke %><br>
            <%= ws[7].schwaeche %> <br>
            <%= ws[7].tipps %></p><br>
          
          </div>

         <div id="Scylla" class="tabcontent">
           
          <h1><%= ws[8].name %> </h1> <br>
          <img src="Scylla.png"><!--Quelle(Bild):https://img00.deviantart.net/18c4/i/2015/277/b/0/scylla_the_sea_monster_by_kingovrats-d7k8gmn.jpg-->
          <p><%= ws[8].eigen %><br>
            <%= ws[8].ort %> <br>
            <%= ws[8].staerke %><br>
            <%= ws[8].schwaeche %> <br>
            <%= ws[8].tipps %></p><br>
       
          </div>

   

<script>//Quelle:https://www.w3schools.com/howto/howto_js_tabs.asp
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


document.getElementById("defaultOpen").click();
</script>


</body>

</html>